{% extends 'base.html.twig' %}

{% block title %} | Importer une liste de joueurs{% endblock %}

{% block body %}
    <h1>Importer une liste de joueurs</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Importer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('joueur_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
