{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron mt-3">
  <div style="text-align:center"><a href="{{ path('dashboard') }}"><img src="{{ asset('affiche.png') }}" width="60%"/></a></div>
</div>
{% endblock %}
